body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


html{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    
}

.all-body{
    overflow-x: hidden;
    

}
.overflow-hidden{
    display: none;
    overflow-x: hidden;
}

.menu{
    position: absolute;
    right: 16px;
    width: 50px;
    top: 16px;
    cursor:pointer;
    

}

.overlay-menu{
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 2;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid black;
    transform: translate(501px);
    transition: all 225ms ease-in-out;
    

}

.overlay-menu a{
    color: black;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all 225ms ease-in-out;
    margin-left: 6px;
    margin-right: 6px;

}

.overlay-menu a:hover{
    /* border-bottom: 4px solid green; */
    transition: all 225ms ease-in-out;
    color: green;

}

.show-overlay-menu{
    transform: translateX(0px);

}

.close-button{
    position: absolute;
    right: 16px;
    top: 16px;
    color: white;
    font-size:large;
    background-color: green;
    padding: 8px;
    
    width: 100px;
    cursor: pointer;
}

.header{
   /*  position: absolute;
    top: 0;
    left: 0;
    right: 0; */
          
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px inset;
    
}
/* .menu-content{
    position: absolute;
        Top: 0px;
        Left: 0px;
        Right:0px; 

} */

.menu-content a{
    color: black;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all 225ms ease-in-out;
    margin-left: 6px;
    margin-right: 6px;
    
}

.menu-content a:hover {
    border-bottom: 4px solid green;
    transition: all 225ms ease-in-out;
    color: green;

}

.rezept{
    
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rezept img{
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.rezept-description {
    justify-content: space-around;
    max-width: 400px;
    text-align: left;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

.rezept-button{
    color: white;
    font-size:large;
    background-color: green;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: 200px;
    cursor: pointer;

}

.rezept-button:active{
    
    box-shadow: 0 1px #666;
    transform: translateY(4px);

  }

  .rezept-button:hover{
    
    background-color: rgb(41, 106, 47);

  }

  .rezepte-bg{
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center;
    align-items: center; */


  }

  .rezepte-bg-content{
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
    padding-bottom: 48px;
  }

  .rezeptImg img{
    width: 150px;
    height: 175px;
    object-fit: cover;

  }

  .rezept1-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 16px;
  }

  .comparaison{
    flex-direction: column;
    display: flex;   
  }

  .comparaison h2{ 
    text-align: center;
  }

  .comparaison-cont img{
    width: 150px;
    height: 175px;
    object-fit: cover;
  }

  .comparaison-cont span{
    text-align: left;
  }

  .comparaison-cont {
   display: flex;
   justify-content: space-around;
   padding-bottom: 48px;
   align-items: center;
  }

  .footer{
     
    padding-top: 200px;
    background-color: #666;
    text-decoration: none;
    color: white;
    text-align: center;
   
  }

  .footer a{
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: white;
    
  }

  .comparaison-cont-child{
    max-width: 700px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .datenSchutz{
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    
  }
  .impressum{  
    background-color: rgb(231, 231, 231);
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .content{
    padding: 42px;
  }

  .haehnchen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .haehnchen-img{
    width: 800px;
    object-fit: cover;
  }

  .properties{
    
    display: flex;
    /* max-width: 500px; */
    justify-content:center;
    align-items: center;
    margin-top: 8px;
    padding-bottom: 32px;
  }

  .properties img{
    width: 20px;
    height: 20px;
  }

  .time{
    display: flex;
    background-color: rgb(241, 241, 241);
    width: 150px;
    justify-content: center;
    border-radius: 10%;
    align-items: center;
  }

  .brain{
    display: flex;
    background-color: rgb(241, 241, 241);
    width: 150px;
    justify-content: center;
    border-radius: 10%;
    align-items: center;
    margin-left: 48px;
    margin-right: 48px;

  }

  .datum{
    display: flex;
    background-color: rgb(241, 241, 241);
    width: 150px;
    justify-content: center;
    border-radius: 10%;
    align-items: center;
  }

  .inputNumber{
    width: 100px;
    padding: 11px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .portion{
    display: flex;
    align-items: center;
    /* max-width: 430px; */
    justify-content: center;
    padding-bottom: 42px;
  }

  .ingedrient{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ingedrient tr:nth-child(even){
    background-color: #f2f2f2;
  } 

  .ingedrient tr:hover{
    background-color: #ddd;
  } 

  .ingedrient td, tr {
    border: 1px solid #ddd;
  padding: 8px;
  width: 300px;
  text-align: center;

  }

  .zubereitung{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .zubereitung img{
    width: 20px;
    height: 20px;
  }

  .vorbereitung{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .timeGesamt1{
    display: flex;
    background-color: rgb(241, 241, 241);
    width: 250px;
    justify-content: center;
    border-radius: 10%;
    align-items: center;
    margin-right: 16px;
    margin-top: 16px;
  }

  .timeGesamt2{
    display: flex;
    background-color: rgb(241, 241, 241);
    width: 250px;
    justify-content: center;
    border-radius: 10%;
    align-items: center;
    margin-left: 16px;
    margin-top: 16px;
  }

  .description{
    max-width: 800px;

  }

  .profile{
    width: 150px;
    height: 150px;
    border-radius: 100%;

  }

  .profile-mother{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profile-child{
    display: flex;
    justify-content: center;
    align-items: center;

  }

   
  @media(max-width:850px){
      .rezept{
        margin-top: 110px;
        
        flex-direction: column;
    }

  }

  @media(max-width:768px){

    body{
        overflow-x: hidden;
    }

    .rezepte-bg-content{
        
        flex-direction: column;
    }

    .comparaison-cont{
        
        flex-direction: column;
    }
    .rezept-description{
        align-items: center;
    }

    .menu-content{
        display: none;

    }
   

    .overflow-hidden{
        display:flex;
        
    }

    .haehnchen-img{
        width: 250px;
        object-fit: cover;
      }

      .impressumbody{
        margin-top: 110px;
    }

    .datenSchutzbody{
        margin-top: 110px;
    }

    .datenSchutzbody p{
      max-width: 500px;
  }

  .datenSchutzbody ul{
    max-width: 500px;
}




  }

  @media(max-width:500px){

    body{
        overflow-x: hidden;
    }

    .rezept img{
        width: 200px;
        height: 100px;
        object-fit: cover;
    }

    .header-logo img{
        width: 150px;
        height: 50px;
        object-fit: cover;

    }


    .overflow-hidden img{
        width: 25px;
        height: 25px;
        object-fit: cover;


    }
    .comparaison-cont-child{
        max-width: 500px;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
      }

      .vorbereitung{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    
      .timeGesamt1{
        display: flex;
        background-color: rgb(241, 241, 241);
        width: 250px;
        justify-content: center;
        border-radius: 10%;
        align-items: center;
        margin-right: 0px;
        margin-top: 16px;
      }
    
      .timeGesamt2{
        display: flex;
        background-color: rgb(241, 241, 241);
        width: 250px;
        justify-content: center;
        border-radius: 10%;
        align-items: center;
        margin-left: 0px;
        margin-top: 16px;
      }

    
}