
    <div class="header">
        <div class="header-logo">
            <a class="topHeaderLogo" href="index.html"><img src="img/cooking_cap.png" alt=""></a>
        <!-- </div>
        <div class="card-body1"> -->
            <span>Liferrando.de</span> 
        </div>
        <div class="nav-bar">
            <div id="navMenu" class="fontResponsive">
                <!-- <a href="index.html">Start</a> -->
                <a href="datenschutz.html">Datenschutz</a>
                <a href="impressum.html">Impressum</a>
                <a href="agb.html">AGB</a>
                <img onclick="closeNavResponsive()" id="xMarkDesign" src="img/x-mark.png" alt="">
            </div>
            <div>
                <img onclick="openNavResponsive()" id="menuResponsive" src="img/menu.png" alt="">
            </div>
        </div>
    </div>
