body{
    background-color: #FDFAF0 !important;

}


.container{
    background-color: #FDFAF0 !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quiz-card{
    width: 30rem;
}

.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top:12px ;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);

}


.bg-success, .bg-danger{
    color: white;

}
