<div class="topHeader">
    <div class="topHeaderFlex">
        <div>
            <img class="logoDesign" src="img/logo.png" alt="">
        </div>
        <div>
            <div id="navMenu" class="fontResponsive">
                <a href="../index.html">Start</a>
                <a href="../brathaehnchen.html">Rezept des Tages</a>
                <a href="#/">Kontakt</a>
                <a href="../impressum.html">Impressum</a>
                <img onclick="closeNavResponsive()" id="xMarkDesign" src="img/x-mark.png" alt="">
            </div>
            <div>
                <img onclick="openNavResponsive()" id="menuResponsive" src="img/menu.png" alt="">
            </div>
        </div>
    </div>
</div>