/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Lato', sans-serif;
} */


body{
    margin: 0;
    
     font-family: 'Raleway', sans-serif; 
}


html{
    scroll-behavior: smooth; 
    
}

.all-body{
    overflow-x: hidden;
    

}
.overflow-hidden{
    display: none;
    overflow-x: hidden;
}

.menu{
    position: absolute;
    right: 16px;
    width: 50px;
    top: 16px;
    cursor:pointer;
    

}

.header{
          
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px inset;
    
}


.menu-content a{
    color: black;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all 225ms ease-in-out;
    margin-left: 6px;
    margin-right: 6px;
    
}

.menu-content a:hover {
    border-bottom: 4px solid green;
    transition: all 225ms ease-in-out;
    color: green;

}

.rezept{
    
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rezept img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.rezeptImg img {
  border-radius: 10px;
}

.rezept-description {
    justify-content: space-around;
    max-width: 400px;
    text-align: left;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

.rezept-button{
    color: white;
    font-size: 20px;
    background-color: green;
    padding: 12px 16px;
    width: 200px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.rezept-button:active{
    box-shadow: 0 1px #666;
    transform: translateY(4px);

  }

  .rezept-button:hover{
    
    background-color: rgb(41, 106, 47);

  }

  .rezepte-bg{
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .rezepte-bg-content{
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
    padding-bottom: 48px;
  }

  .rezeptImg img{
    width: 150px;
    height: 175px;
    object-fit: cover;

  }

  .comparaison-cont img{
    border-radius: 10px;
  }

  .rezept1-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 16px;
  }

  .comparaison{
    flex-direction: column;
    display: flex;   
  }

  .comparaison h2{ 
    text-align: center;
  }

  .comparaison-cont img{
    width: 150px;
    height: 175px;
    object-fit: cover;
  }

  .comparaison-cont span{
    text-align: left;
  }

  .comparaison-cont {
   display: flex;
   justify-content: space-around;
   padding-bottom: 48px;
   align-items: center;
  }

  .comparaison-cont-child{
    max-width: 700px;
    padding-left: 8px;
    padding-right: 8px;
  }


  .impressum{  
    background-color: rgb(231, 231, 231);
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .content{
    padding: 42px;
  }

  .haehnchen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .haehnchen-img{
    width: 800px;
    object-fit: cover;
  }

  .properties{
    
    display: flex;
    /* max-width: 500px; */
    justify-content:center;
    align-items: center;
    margin-top: 8px;
    padding-bottom: 32px;
  }

  .properties img{
    width: 20px;
    height: 20px;
  }

  .profile{
    width: 150px;
    height: 150px;
    border-radius: 100%;

  }

  .profile-mother{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profile-child{
    display: flex;
    justify-content: center;
    align-items: center;

  }

   
  @media(max-width:850px){
      .rezept{
        margin-top: 110px;       
        flex-direction: column;
    }

  } 

   @media(max-width:768px){

    .rezepte-bg-content{
        
        flex-direction: column;
    }

    .comparaison-cont{
        
        flex-direction: column;
    }
    .rezept-description{
        align-items: center;
    }

    .menu-content{
        display: none;

    }
   

    .overflow-hidden{
        display:flex;
        
    }

    .haehnchen-img{
        width: 250px;
        object-fit: cover;
      }

      .impressumbody{
        margin-top: 110px;
    }

    .datenSchutzbody{
        margin-top: 110px;
    }


  } 

  @media(max-width:500px){



    .rezept img{
        width: 200px;
        height: 100px;
        object-fit: cover;
    }

    .comparaison-cont-child{
        max-width: 500px;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
      } 

    
} 




#menuResponsive {
  width: 30px;
  cursor: pointer;
}

#xMarkDesign {
  position: absolute;
  right: 5%;
  top: 15px;
  width: 20px;
  cursor: pointer;
}

